.productContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: center;
  background-color: #fcedea;
  width: 50%;
  margin: 2rem auto;
}

.productBox {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.productSection1 img {
  width: 25rem;
  border: 0.5px solid black;
}
.productSection1 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.productButtons1 button {
  width: 1rem;
  height: 1rem;
  margin: 0 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}


.productButtons1{
    display: grid;
    grid-auto-rows: minmax(1rem,1rem);
    grid-template-columns: repeat(10,1fr);

}

.productNeme {
  font-size: xx-large;
  width: 15rem;
  margin-bottom: 0.5rem;
}

.productButtons2 button {
  width: 1rem;
  height: 1rem;
  margin: 0 0.1rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}


.productContainer p{
    width: 20rem;
    margin: 0.1rem 0;

}

input {
  border: 1px solid black;
  width: 5rem;
}

.addToCartButton {
  background-color: green;
  height: 2.5rem;
  width: 100%;
  margin: 1rem 0;
}

.prodeuctDescription {
  margin: 0.5rem 0;
}

.prodeuctDescriptionp {
  height: 15rem;
  overflow-y: auto;
}
.producShades {
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  .productBox {
    padding: 0rem;
  }
  .productContainer {
    width: 100%;}}


@media (max-width: 600px){
    .productBox{
   
        padding: 0rem;
        }
    .productContainer{
        width: 100%;
        
        
        flex-direction: column;
        }

        .productSection1{
            align-items: center;
        }
        .productSection2{
            align-items: center;
        }

        .addToCartButton{
            background-color: green;
            height: 2.5rem;
            width: 100%;
            margin:0.5rem 0 ;
        }


        .productNeme{
            text-align: center;
        }

      .productPrice{
        text-align: center;
      }
      .productContainer   p{text-align: center;
     width: 100%;
    }


      .productButtons2{
        display: grid;
      grid-auto-rows: minmax(2rem,5rem);
      grid-template-columns: repeat(5,1fr);
        }



  .productSection1 {
    align-items: center;
  }
  .productSection2 {
    align-items: center;
  }

  .addToCartButton {
    background-color: green;
    height: 2.5rem;
    width: 100%;
    margin: 0.5rem 0;
  }

  .productNeme {
    text-align: center;
  }

  .productPrice {
    text-align: center;
  }
  .productContainer p {
    text-align: center;
    width: 100%;
  }

  .productButtons2 {
    display: grid;
    grid-auto-rows: minmax(2rem, 5rem);
    grid-template-columns: repeat(5, 1fr);
  }
}


@media (max-width: 1100px){

  .productContainer{
      width: 80%;
      align-items: start;
  }
  .productSection1 img{
  width: 15rem;
  }
  .productNeme{
  font-size:large;
  width: 15rem;
  }
  .productContainer  p{
  width: 10rem;
  }
}