.AboutUsed .containerr{
    margin: 5rem 0rem;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    border: 2px solid bisque ;
    border-radius: 20px;
    padding: 2rem 2rem;


}
.containerr .text{
    width: 50%;
}
.imgAbout{
    width: 20rem;
    height:  15rem;
    border-radius: 1.25rem;
}
.img-new{
    width: 100%;
    border-radius: 1.25rem;

}
.text .icons{
display: flex;
flex-direction: row;
justify-content: space-between;
margin-top: 1rem;

}
.icoon div {
    text-align: center;
    color:bisque ;
}

@media (max-width: 750px) {
    .AboutUsed .containerr {
        display: flex;
        flex-direction:column; 
  }
  .containerr .text{
    text-align: center;
    padding-bottom: 2rem;
  }
  .text .icons{
    display: flex;
    flex-direction: column;}}